@model tomates_podridos.Models.Cinefilo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>

    <h4>Cinefilo inicio sesion </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                usuario: <input type="text" name="name" id="txtName" /><br />

                contraseña: <input type="text" name="password" id="txtpassword" /><br />

                <button type="submit">Enviar información</button>

            </form>
        </div>

        <h2 class="text-center">
            @ViewBag.mensaje
        </h2>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">volver al inicio</a>
        <input type="button" value="registrarse" onclick="location.href='@Url.Action("Create", "Cinefiloes")'" />
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>