
@{
    ViewData["Title"] = "menu";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">


            link recomendacion: <input type="text" name="link" id="txtlink" /><br />


            <button type="submit">Cargar pelicula</button>

        </form>

        <p>@ViewBag.men</p>
    </div>

    <div>

        <input type="button" value="ver peliculas" onclick="location.href='@Url.Action("Index", "Peliculas")'" />

    </div>




    <div>
        <h1>top semanal</h1>
    </div>
    
    </h2>
</div>

